<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
  <%- include("../partials/header") %>
  <main>      <div class="grid">
      <figure>
    <h2 class="tagline"><%= image.title %></h2> 
    <a href="<%= image.imgURL %>"><img src="/<%= image.localURL %>"> </a>
    <a href="<%= image.Url %>"><p><%= image.imgCredit %></p></a>
    <figcaption><%= image.summary %></figcaption>

</figure>
      </div>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>